<% if geolocalizable.address.present? %>
  <div class="card card--secondary">
    <div class="card__content address">
      <div class="address__info">
        <div class="address__icon">
          <%= icon icon_name, width: 40, height: 70 %>
        </div>
        <div class="address__details">
          <% if geolocalizable.respond_to? :location %>
            <strong><%= decidim_sanitize(translated_attribute(geolocalizable.location)) %></strong><br>
          <% end %>
          <span><%= geolocalizable.address %></span><br>
          <% if geolocalizable.respond_to? :location_hints %>
            <span><%= decidim_sanitize(translated_attribute(geolocalizable.location_hints)) %></span>
          <% end %>
        </div>
      </div>
      <% if Decidim::Map.available?(:geocoding) %>
        <%= dynamic_map_for(geolocalizables_data_for_map([ geolocalizable ])) do %>
          <template id="marker-popup">
            <div class="map-info__content">
              <h5>${title}</h5>
            </div>
          </template>
          <%= append_stylesheet_pack_tag "decidim_map" %>
          <%= append_javascript_pack_tag "decidim_map" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
