<% scope = Decidim.config.devise_custom_scope.(@organization) %>

<p class="email-greeting"><%= t(".greeting", scope: scope, recipient: @resource.email) %></p>

<p class="email-instructions"><%= t(".instruction", scope: scope) %></p>

<p class="email-button email-button__cta"><%= link_to t(".action", scope: scope), edit_password_url(@resource, reset_password_token: @token, host: @resource.organization.host) %></p>

<p class="email-instruction email-small"><%= t(".instruction_2", scope: scope) %></p>

<p class="email-instruction email-small"><%= t(".instruction_3", scope: scope) %></p>
